body
{
	font-family: Arial;
}

.thrown-error
{
	margin:5px;
	padding:15px;
	font-size:14px;
	background: #CC0000;
	color:#FFFFFF;
	border:2px solid #900;
	border-radius: 10px;
}

	.thrown-error strong
	{
		float:left;
	}

	.thrown-error p
	{
		margin:0;
		margin-left:100px;
		padding:0;
	}

.thrown-warning
{
	margin:5px;
	padding:15px;
	font-size:14px;
	background: #EE9900;
	color:#FFFFFF;
	border:2px solid #AA7700;
	border-radius: 10px;
}

	.thrown-warning strong
	{
		float:left;
	}

	.thrown-warning p
	{
		margin:0;
		margin-left:100px;
		padding:0;
	}

.thrown-success
{
	margin:5px;
	padding:15px;
	font-size:14px;
	background: #00CC00;
	color:#FFFFFF;
	border:2px solid #009900;
	border-radius: 10px;
}

	.thrown-success strong
	{
		float:left;
	}

	.thrown-success p
	{
		margin:0;
		margin-left:100px;
		padding:0;
	}

.controls
{
	float:right;
	padding:2px 6px;
	margin-top:-2px;
}

	.controls:hover
	{
		background:rgba(0,0,0,0.2);
		cursor: pointer;
	}